<div data-role="content">

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), "data-ajax" => false) do |f| %>
    <%= devise_error_messages! %>

    <div data-role="fieldcontain">
      <fieldset data-role="controlgroup">

        <div><%= f.label :email %><br />
          <%= f.email_field :email %></div>
      </fieldset>
    </div>

    <div data-role="fieldcontain">
      <fieldset data-role="controlgroup">

        <div><%= f.label :password %><br />
          <%= f.password_field :password %></div>
      </fieldset>
    </div>


    <div data-role="fieldcontain">
      <fieldset data-role="controlgroup">

        <div><%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation %></div>

      </fieldset>
    </div>

    <div data-role="fieldcontain">
      <fieldset data-role="controlgroup">

        <div><%= f.label :name %><br /> 
          <%= f.text_field :name %></div>

      </fieldset>
    </div>

    <div data-role="fieldcontain">
      <fieldset data-role="controlgroup">

        <div><%= f.label :phone %><br /> 
          <%= f.text_field :phone %></div>

      </fieldset>
    </div>

    <div data-role="fieldcontain">
      <fieldset data-role="controlgroup">

        <div><%= f.label :address %><br /> 
          <%= f.text_field :address %></div>

      </fieldset>
    </div>

    <div data-role="fieldcontain">
      <fieldset data-role="controlgroup">

        <div><%= f.submit "Sign up" %></div>
      </fieldset>
    </div>

  <% end %>

  <%= render "devise/shared/links" %>

</div>
