<%= form_for(@ride) do |f| %>
  <% if @ride.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ride.errors.count, "error") %> prohibited this ride from being saved:</h2>

      <ul>
      <% @ride.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </div>
  <div class="field">
    <%= f.label :destination %><br />
    <%= f.text_field :destination %>
  </div>
  <div class="field">
    <%= f.label :depart_date %><br />
    <%= f.datetime_select :depart_date %>
  </div>
  <div class="field">
    <%= f.label :return_date %><br />
    <%= f.datetime_select :return_date %>
  </div>
  <div class="field">
    <%= f.label :seats %><br />
    <%= f.text_field :seats %>
  </div>
  <div class="field">
    <%= f.label :preferences %><br />
    <%= f.text_field :preferences %>
  </div>
  <div class="field">
    <%= f.label :who %><br />
    <%= f.text_field :who %>
  </div>
  <% unless session[:fb_access_token] %>
    <div class="field">
      Connect with facebook to post this ride in facebook!
    </div>
  <% end %>
  <% if session[:fb_access_token] %>
    <div class="field">
      <%= label_tag :post_in_facebook %><br />
      <%= check_box_tag :post_to_facebook %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
