<%= form_for @search, :url => search_rides_rides_path, :html => {:method => :post} do |f| %>

  <div class="field">
    <%= f.label :from %><br />
    <%= f.text_field :sources_address_contains %>
  </div>
  <div class="field">
    <%= f.label :to %><br />
    <%= f.text_field :destinations_address_contains %>
  </div>
  <div class="field">
    <%= f.label :depart_date %><br />
    <%= f.text_field :depart_date_eq, :include_blank => true , :id => "datetimepicker3"%>
  </div>
  <div class="field">
    <%= f.label :return_date %><br />
    <%= f.text_field :depart_date_eq, :include_blank => true , :id => "datetimepicker4"%>
  </div>
  <div class="actions">
    <%= submit_tag 'Search' %>
  </div>
<% end %>
<script>$('#datetimepicker3').datetimepicker();</script>
<script>$('#datetimepicker4').datetimepicker();</script>
