<div data-role="header">
  <%= link_to 'Edit', edit_ride_path(@ride), "data-icon" => "gear", "data-iconpos"=>"notext" %> 
  <h1><%= @ride.title %></h1>
  <%= link_to 'Destroy', @ride, :method => :delete, "data-icon"=>"delete", "data-iconpos"=>"notext", "class" => "ui-btn-right" %>
</div>

<div data-role="content">
  <p id="notice"><%= notice %></p>


  <p>
  <b>From:</b>
  <%= @ride.source %>
  </p>

  <p>
  <b>To:</b>
  <%= @ride.destination %>
  </p>

  <p>
  <b>Depart date:</b>
  <%= @ride.depart_date %>
  </p>

  <p>
  <b>Return date:</b>
  <%= @ride.return_date %>
  </p>

  <p>
  <b>Available Seats:</b>
  <%= @ride.seats %>
  </p>


  <p>
  <b>Preferences:</b>
  <%= @ride.preferences %>
  </p>

  <p>
  <b>Who:</b>
  <%= @ride.who %>
  </p>

  <% source = @ride.sources.first%>
  <% destination = @ride.destinations.first%>

  <p>
  <b> Approximate distance: </b>
  <%= "#{(source.distance_to(destination). * 1.6).round(2) } kms" %>
  </p>

  <p>
  <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?path=color:0xff0000ff%7Cweight:5%7C#{source.latitude},#{source.longitude}%7C#{destination.latitude},#{destination.longitude}&size=100x100&sensor=false&markers=#{source.latitude},#{source.longitude}&markers=#{destination.latitude},#{destination.longitude}" %>
  </p>

  <div data-role='header'>
    <h1> Interested Riders </h1>
  </div>

  <div data-role='header'>
    <ul data-role='listview', data-theme="c">
      <% @ride.riders.each do |rider| %>
        <li> <%= rider.name %> </li>
      <% end %>
    </ul>
  </div>
</div>

<p>
<%= link_to('Hook On!', look_to_hook_on_ride_path(@ride),"data-role" => "button") if @ride.seat_available? and @ride.user_id != current_user.id %>
</p>
