<p id="notice"><%= notice %></p>

<p>
  <b>From:</b>
  <%= @ride.source %>
</p>

<p>
  <b>To:</b>
  <%= @ride.destination %>
</p>

<p>
  <b>Depart date:</b>
  <%= @ride.depart_date %>
</p>

<p>
  <b>Return date:</b>
  <%= @ride.return_date %>
</p>

<p>
  <b>Preferences:</b>
  <%= @ride.preferences %>
</p>

<p>
  <b>Who:</b>
  <%= @ride.who %>
</p>

<% source = @ride.sources.first%>
<% destination = @ride.destinations.first%>

<p>
<b> Approximate distance: </b>
<%= "#{(source.distance_to(destination). * 1.6).round(2) } kms" %>
</p>

<p>
<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?path=color:0xff0000ff%7Cweight:5%7C#{source.latitude},#{source.longitude}%7C#{destination.latitude},#{destination.longitude}&size=450x300&sensor=false&markers=#{source.latitude},#{source.longitude}&markers=#{destination.latitude},#{destination.longitude}" %>
</p>

<%= link_to 'Edit', edit_ride_path(@ride) %> |
<%= link_to 'Back', rides_path %>
